{
    "INTERVAL": "<milliseconds>",
    "CHANNEL": "#<channel_name>",
    "BASE_RSS_PATH": "https://habr.com/rss/search/",
    "SLACK_HOOK_URL": "<slack_webhook_url>",
    "KEYWORDS": ["your", "words", "go", "here"]
}
